<div class="container">
  <div class="row">
    <div class="col-12">
      <textarea class="form-control" [(ngModel)]="phrase" title="phrase"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="learn(content)">Learn</button>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="guess()">Guess</button>
    </div>
  </div>
  <div *ngIf="result" class="row">
    <div class="col-12">
      <div class="alert alert-success" role="alert">
        {{result}}
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Learning clasification</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-primary btn-block" ngbDropdownToggle>Clasification</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button class="dropdown-item" *ngFor="let option of options" (click)="toDo(c, option.action)">{{option.name}}</button>
      </div>
    </div>
  </div>
</ng-template>
